<div class="row">
    <div class="column-10 logo">
        <h1>Nahuel Chaves <small>Clientes</small></h1>
    </div>
    <div class="column-6">
        <nav class="top-nav bg-white nav-responsive">
            <ul class="list-inline">
              <li><%= link_to 'Home', root_path %></li>
              <%= render 'layouts/navigation_links' %>
            </ul>
        </nav>
    </div>
</div>
